<div class="container">
    <div class="row col-xs-12">
        <ejs-grid [dataSource]='data'>
            <e-columns>
                <e-column field='name' headerText='Name' textAlign='Right' width=90></e-column>
                <e-column field='programNo' headerText='Program Number' width=120></e-column>
                <e-column field='programBudget' headerText='Program Budget' textAlign='Right' format='C2' width=90></e-column>
                <e-column field='description' headerText='Description' textAlign='Right' format='yMd' width=120></e-column>
                <e-column field='Action' headerText='Action' textAlign='Right' width=90></e-column>  
            </e-columns>
            </ejs-grid>
    </div>
</div>